<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>隐私检测</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div id="outer-container" class="centered">
    <div class="container centered">
        <i id="ring1" style="--clr:#00ff0a;"></i>
        <i id="ring2" style="--clr:#ff0057;"></i>
        <i id="ring3" style="--clr:#fffd44;"></i>
        <div id="main-panel">
            <p id="panel-title">隐私图片检测</p>
            <form id="upload-form" enctype="multipart/form-data">
                <div id="uploaded-imgs"></div>
                <div style="display: flex">
                    <div>
                        <input type="file" id="file" name="file" accept="image/*" multiple>
                        <label for="file" id="upload-img-btn" class="cool-btn"
                               style="--clr:#00ccff;--cll:#f15d28"><span>选择图片</span></label>
                    </div>
                    <div id="status">
                        <span>
                            识别中...
                        </span>
                    </div>
                    <div>
                        <button id="submit-btn" type="submit" style="display: none">识别</button>
                        <label for="submit-btn" id="rec-btn" class="cool-btn"
                               style="--clr:#00ccff;--cll:#f15d28"><span>识别</span></label>
                    </div>
                </div>
            </form>
            <!--            <div id="result"></div>-->
        </div>
    </div>
</div>
<script>
    //将上传的图片发送给大模型进行判断
    document.getElementById('upload-form').onsubmit = async function (event) {
        document.querySelector('#file').disabled = true;
        var uploadBtn = document.querySelector('#upload-img-btn');
        uploadBtn.classList.remove('cool-btn');
        uploadBtn.classList.add('disabled-btn');
        document.querySelector('#submit-btn').disabled = true;
        var recBtn = document.querySelector('#rec-btn');
        recBtn.classList.remove('cool-btn');
        recBtn.classList.add('disabled-btn');
        var statusText = document.querySelector('#status');
        statusText.style.visibility = 'visible';

        var curves = document.getElementsByTagName('i');
        for (var i = 0; i < curves.length; ++i) {
            curves[i].classList.add('colorful');
        }

        event.preventDefault();
        const formData = new FormData();
        const fileField = document.querySelector('input[type="file"]');
        for (const file of fileField.files) {
            formData.append('files', file);
        }

        const response = await fetch('http://127.0.0.1:5000/predict', {
            method: 'POST',
            body: formData
        });

        const results = await response.json();
        results.forEach((result, index) => {

            var uploadedItem = document.getElementById(result.filename);
            // var uploadedImgTag = document.getElementsByClassName('uploaded-img-tag');
            var uploadedImgTag = uploadedItem.getElementsByTagName('p')[0];

            if (result.error) {
                uploadedImgTag.innerHTML = `<div>Error: ${result.error}</div>`;
            } else {
                uploadedImgTag.innerHTML = `<div>${result.probability.toFixed(2)}%</div>`;
                if (result.probability <= 20.0)
                    uploadedImgTag.parentElement.style.backgroundColor = '#00ff0a';
                else if (result.probability <= 60.0)
                    uploadedImgTag.parentElement.style.backgroundColor = '#fffd44';
                else
                    uploadedImgTag.parentElement.style.backgroundColor = '#ff0057';
            }
        });

        document.querySelector('#file').disabled = false;
        uploadBtn.classList.add('cool-btn');
        uploadBtn.classList.remove('disabled-btn');
        document.querySelector('#submit-btn').disabled = false;
        recBtn.classList.add('cool-btn');
        recBtn.classList.remove('disabled-btn');
        statusText.style.visibility = 'hidden';
        for (var i = 0; i < curves.length; ++i) {
            curves[i].classList.remove('colorful');
        }
    }



    //将上传的图片显示出来
    // document.getElementById('file').addEventListener('change', function (event) {
    //     var uploadedImgsDiv = document.getElementById('uploaded-imgs');
    //     uploadedImgsDiv.innerHTML = '';
    //
    //     var files = event.target.files;
    //     for (var i = 0; i < files.length; i++) {
    //         var file = files[i];
    //         var reader = new FileReader();
    //         reader.onload = function (e) {
    //             var uploadedItem = document.createElement('div')
    //             uploadedItem.classList.add('uploaded-item');
    //             uploadedItem.id =
    //             var img = document.createElement('img');
    //             img.classList.add('uploaded-img');
    //             img.src = e.target.result;
    //             var p = document.createElement('p');
    //             p.classList.add('uploaded-img-tag');
    //             p.innerHTML = '待检测...';
    //             uploadedItem.appendChild(img);
    //             uploadedItem.appendChild(p);
    //             uploadedImgsDiv.appendChild(uploadedItem);
    //         };
    //         reader.readAsDataURL(file);
    //     }
    // });
    document.getElementById('file').addEventListener('change', function (event) {
    var uploadedImgsDiv = document.getElementById('uploaded-imgs');
    uploadedImgsDiv.innerHTML = '';

    var files = event.target.files;
    for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        // 使用闭包将文件对象传递给onload回调函数
        reader.onload = (function(file) {
            return function (e) {
                var uploadedItem = document.createElement('div');
                uploadedItem.classList.add('uploaded-item');
                uploadedItem.id = file.name;  // 将id设置为文件名

                var img = document.createElement('img');
                img.classList.add('uploaded-img');
                img.src = e.target.result;

                var p = document.createElement('p');
                p.classList.add('uploaded-img-tag');
                p.innerHTML = '待检测...';

                uploadedItem.appendChild(img);
                uploadedItem.appendChild(p);
                uploadedImgsDiv.appendChild(uploadedItem);
            };
        })(file);

        reader.readAsDataURL(file);
    }
});

</script>
</body>
</html>
